.container {
	height: 400px;
	background-color: blanchedalmond;
	display: flex;
	/* flex-direction: row; */
	/* can chinh cac item theo truc main */
	justify-content: start;
	/* can chinh cac item theo truc cross */
	align-items: start;
  gap: 10px;
  /* flex-wrap: wrap; */
  flex-flow: row;
}

.item {
	/* width: 100px; */
	height: 100px; 
	background-color: blueviolet;
	color: #fff;
  /* flex-grow: 1; */
  /* flex-shrink: 1; */
  /* flex-basis: 100px; */
  flex: 1 1 100px;
  
}

.item-2 {
  /* flex-grow: 4; */
  /* flex-shrink: 0; */
  /* flex-basis: auto; */
  order: 1;
}

.item-3 {
  order: 3;
}

.item-4 {
  order: 4;
}

.item-1 {
  order: 2;
}